<<<<<<< HEAD
<%== form_tag "/" do %>
=======

>>>>>>> f4d1c266f5249f4472e54a51f5c72574d70a0841

<div id="mainContent">
	<h1>The Fun Stock Portfolio Tracker</h1>
	<h3>Create a free account to start watching the performance of your favorite companies</h3>

	<div id="mainChart">
		<script LANGUAGE="javascript" TYPE="text/javascript" src="http://app.quotemedia.com/quotetools/miniQuoteChart.go?webmasterId=500&symbol=spx&chtype=AreaChart&chmrg=3&chscale=1m&toolWidth=280&chhig=260&chton=on"></script>
	</div>

	<figure class="main-freezeframe-container">
<<<<<<< HEAD

			<%= image_tag  "gifs/#{rand(6)}.gif" %>



=======
			<%== image_tag "jonah.gif" %>
>>>>>>> f4d1c266f5249f4472e54a51f5c72574d70a0841
			<br>(hover to play clip)
	</figure>

</div>
<<<<<<< HEAD

<% end %>
=======
>>>>>>> f4d1c266f5249f4472e54a51f5c72574d70a0841
