

<div id="mainContent">
	<h1>The Fun Stock Portfolio Tracker</h1>
	<h3>Create a free account to start watching the performance of your favorite companies</h3>

	<div id="mainChart">
		<script LANGUAGE="javascript" TYPE="text/javascript" src="http://app.quotemedia.com/quotetools/miniQuoteChart.go?webmasterId=500&symbol=spx&chtype=AreaChart&chmrg=3&chscale=1m&toolWidth=280&chhig=260&chton=on"></script>
	</div>

	<figure class="freezeframe-container">
			<%== image_tag "jonah.gif" %>
			<br>(hover to play clip)
	</figure>

</div>
